<div data-viewid="1" class="animate slide-in-left">
    <div class="text-title">Sign in</div>
    <div class="form-group mt-3">
        <label for="username" class="sr-only"></label>
        <input name="username" type="text" class="w-100 px-2" placeholder="Email or Username">
    </div>
    <button id="btnNext" type="button" class="btn btn-primary w-25 float-right mt-4">Next</button>
</div>