{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/assets/js/DataTables/datatables.min.css"/> 
    <link rel="stylesheet" href="/assets/css/donut.css">
{{/section}}

<div class="container-fluid fill-parent" style="overflow-y: auto;">
    <div class="row mt-3 mb-2">
        <div class="col">
            <h3 id="collectionName" class="mb-0"></h3>
            <div id='collectionDesc' class="text-muted mb-2" style="font-size: .85rem"></div>
        </div>
    </div>      
    <div id="metrics" class="row mb-3">
        <div class="col-sm-12 col-md-6 col-xl-3">
            <div class="card fill-parent mb-3" style="overflow: auto">
                <div class="card-header card-title">Device Collection Overview</div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="d-inline-block">
                            <div id="deviceCount" style="font-size: 3rem; line-height: 1.25em; font-weight: 600;">0</div>
                            <div style="font-size: .8em; line-height: .9em;">Total Devices</div>
                        </div>
                        <div class="separator"></div>
                        <div class="d-inline-block">
                            <div id="attentionNeeded" style="font-size: 3rem; line-height: 1.25em; font-weight: 600;">0</div>
                            <div style="font-size: .8em; line-height: .9em;">Devices Need Attention</div>
                        </div>
                    </div>
                    
                    <table id="tblAttentionNeeded" class="card-table">
                        <thead>
                            <th>NEEDS ATTENTION</th>
                            <th>DEVICE COUNT</th>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div id="cardUpdateStatus" class="card fill-parent">
                <div class="card-header card-title">Updates Status</div>
                <div class="card-body d-flex">
                    <div id="chart1"></div>
                    <div class="d-inline-block ml-3 legend">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">        
        <div class="col">
            <div class="card" style="border:none;">
                    <div class="card-header p-1" style="border: none;">
                        <span style="font-weight: 100; font-size: 1.25rem">Devices</span>
                    </div>
                <div class="card-body" style="overflow: hidden; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem;">
                     <table id="devices" class="table table-sm table-striped">
                        <thead style="font-size: .8rem">
                            <th>HOSTNAME</th>
                            <th>OS</th>
                            <th>BUSINESS</th>
                            <th width="60px">INSTALLED</th>
                            <th width="60px">NEEDED</th>
                            <th width="60px">DOWNLOADED</th>
                            <th width="60px">PENDING</th>
                            <th width="60px">FAILED</th>
                            <th width="60px">UNKNOWN</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CTS2012R2D1</td>
                                <td>Windows Server 2012 R2</td>
                                <td>GE Digital</td>
                                <td>50</td>
                                <td>0</td>
                                <td>0</td>
                                <td>22</td>
                                <td>5</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
    <script type="text/javascript" src="/assets/js/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/assets/js/donutMod.js"></script>
    <script type="text/javascript" src="/assets/js/donut.js"></script>
    <script type="text/javascript" src="/assets/js/deviceGroup.js"></script>    
{{/section}}