<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Congratulations!</h2>
      <h5>You have logged in successfully.</h5>
      <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
    </div>
    <div class="col-md">
      <h1>All servers will be up to date!</h1>
      <img src="http://clipart-library.com/img/1760948.jpg" alt="logo" width="499px" height="499px">
    </div>
  </div>