.app-frame-outer {
    box-sizing: border-box;
    width: 100vw;
    flex: 1 1 auto;
    height: calc(100% - 56px);
    /* height: 100%; */
}
.app-frame-outer .app-frame-inner {
    margin: 0!important;
    position: relative;
    height: 100%;
}
.fill-parent {
    height: 100%;
    width: 100%;
}
#left-panel {
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 225px;
    height: 100%;
}
#center-pane {
    position: absolute;
    top: 0px;
    width: calc(100% - 228px);
    height: 100%;
    left: 228px;
}